<header>
    <menu>
        <ul>
            <% if (user) { %>
                <li><button><a id="logoutButton">Logout</a></button></li>
            <% } else { %>
                <li><button><a href="/auth">Login</a></button></li>
            <% } %>

            <li><button><a href="/catalog">Catalog</a></button></li>
            <li><button><a href="/customers">Manage Customers</a></button></li>
            <li><button><a href="/circulation">Circulation</a></button></li>
            <li><button><a href="/reports">Reports</a></button></li>
        </ul>
    </menu>
</header>