<%- include('layout', {
    title: 'Authors',
    stylesheet: 'authors.css',
    user,
    body: `
        <main>
            <select id="authorSelect"></select>
            <p id="authorBirthday" class="birthday"></p>
            <h2>Bio</h2>
            <p id="authorBio"></p>
            <a id="wikiLink" target="_blank">Learn more on Wikipedia</a>
            <button type="button" onclick="window.history.back()">Close</button>
        </main>

        <script src="/js/authors.js"></script>
    `
}) %>