<%- include('layout', {
    title: 'Login',
    stylesheet: 'login.css',
    user,
    body: `
        <main>
            <form id="loginForm">
                <div>
                    <label for="username">Username</label>
                    <input id="username" name="username" type="text" required>
                </div>

                <div>
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" required>
                </div>

                <div class="buttons">
                    <button type="submit">Login</button>
                    <button type="button" onclick="window.history.back()">Cancel</button>
                </div>
            </form>
        </main>

        <script src="/js/auth.login.js"></script>
    `
}) %>
