<%- include('layout', {
    title: 'Authors',
    stylesheet: 'authors.css',
    user,
    body: `
        <main>
            <select name="" id="">
                <option value="">$Author1$</option>
                <option value="">$Author2$</option>
                <option value="">$Author3$</option>
            </select>
            <p class="birthday">$Birthday$</p>
            <h2>Bio</h2>
            <p>$Bio$</p>
            <a href="#">Learn more on Wikipedia</a>
            <button type="button" onclick="window.history.back()">Close</button>
        </main>
    `
}) %>