<%- include('layout', {
    title: 'Catalog',
    stylesheet: 'catalog.css',
    user,
    body: `
        <main class="window">
            <section class="search">
                <div class="logo">
                    <img src="../img/logo.png" alt="logo">
                </div>
                <form id="searchForm">
                    <div>
                        <label for="title">Title</label>
                        <input id="title" type="text">
                    </div>
                    <div>
                        <label for="author">Author</label>
                        <input id="author" type="text">
                    </div>
                    <div>
                        <label for="subject">Subject</label>
                        <input id="subject" type="text">
                    </div>
                    <div class="buttons">
                        <button type="submit" id="searchButton">Search</button>
                    </div>
                </form>
            </section>

            <div>
                <section class="results">
                    <div class="table-wrapper">
                        <table id="bookTable">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Authors</th>
                                </tr>
                            </thead>
                            <tbody id="bookTableBody"></tbody>
                        </table>
                    </div>

                    <div class="status-bar">
                        <div>
                            <p>Page</p>
                            <button id="prevPage"><</button>
                            <input id="currentPage" type="text" value="1">
                            <button id="nextPage">></button>
                            <p>of <span id="maxPages"></span></p>
                        </div>
                        <div>
                            <p><span id="bookCount"></span> Books found</p>
                        </div>
                    </div>
                </section>

                <section class="book" id="bookSection">
                    <div class="book-info">
                        <h1 id="bookTitle"></h1>

                        <p>by <span id="bookAuthors"></span></p>
                        <p class="year">first published: <span id="bookYear"></span></p>

                        <h2>Description</h2>
                        <p id="bookDescription"></p>

                        <h2>Subjects</h2>
                        <p id="bookSubjects"></p>
                    </div>

                    <div class="book-cover">
                        <img id="bookCoverImage" alt="Book cover">
                        <div class="cover-nav">
                            <button id="prevCover"><</button>
                            <button id="nextCover">></button>
                        </div>
                    </div>
                </section>
            </div>
        </main>

        <script src="/js/catalog.search.js"></script>
        <script src="/js/catalog.book.js"></script>
    `
}) %>