<%- include('layout', {
    title: 'Customers',
    stylesheet: 'customers.css',
    user,
    body: `
        <main class="window">
            <section class="search">
                <form id="searchForm">
                    <div>
                        <label for="id">Customer ID</label>
                        <input id="id" type="text">
                    </div>

                    <div>
                        <label for="name">Name</label>
                        <input id="name" type="text">
                    </div>

                    <div></div>

                    <div class="buttons">
                        <button type="submit">Search</button>
                    </div>
                </form>

                <div class="buttons manage">
                    <button id="editBtn" disabled>Edit...</button>
                    <button id="addBtn">Add...</button>
                </div>
            </section>

            <section class="results">
                <div class="table-wrapper">
                    <table id="customersTable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Zip</th>
                                <th>City</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </section>
        </main>

        <script src="/js/customer.js"></script> 
    `
}) %>
