<%- include('layout', {
    title: 'Customers',
    stylesheet: 'customers.css',
    user,
    body: `
        <main class="window">
            <section class="search">
                    <form method="" action="">
                    <div>
                        <label for="id">Customer ID</label>
                        <input id="id" type="text">
                    </div>
                    <div>
                        <label for="name">Name</label>
                        <input id="name" type="text">
                    </div>
                    <div>
                        <div></div>
                        <div class="buttons">
                            <button>Search</button>
                        </div>
                    </div>
                </form>
                <div class="buttons manage">
                    <button onClick="">Edit...</button>
                    <button onClick="">Add...</button>
                </div>
            </section>

            <section class="results">
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Zip</th>
                                <th>City</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>$ID$</td>
                                <td>$Name$</td>
                                <td>$Address$</td>
                                <td>$Zip$</td>
                                <td>$City$</td>
                            </tr>
                            <tr>
                                <td>$ID$</td>
                                <td>$Name$</td>
                                <td>$Address$</td>
                                <td>$Zip$</td>
                                <td>$City$</td>
                            </tr>
                            <tr>
                                <td>$ID$</td>
                                <td>$Name$</td>
                                <td>$Address$</td>
                                <td>$Zip$</td>
                                <td>$City$</td>
                            </tr>
                            <tr>
                                <td>$ID$</td>
                                <td>$Name$</td>
                                <td>$Address$</td>
                                <td>$Zip$</td>
                                <td>$City$</td>
                            </tr>
                            <tr>
                                <td>$ID$</td>
                                <td>$Name$</td>
                                <td>$Address$</td>
                                <td>$Zip$</td>
                                <td>$City$</td>
                            </tr>
                            <tr>
                                <td>$ID$</td>
                                <td>$Name$</td>
                                <td>$Address$</td>
                                <td>$Zip$</td>
                                <td>$City$</td>
                            </tr>
                            <tr>
                                <td>$ID$</td>
                                <td>$Name$</td>
                                <td>$Address$</td>
                                <td>$Zip$</td>
                                <td>$City$</td>
                            </tr>
                            <tr>
                                <td>$ID$</td>
                                <td>$Name$</td>
                                <td>$Address$</td>
                                <td>$Zip$</td>
                                <td>$City$</td>
                            </tr>
                            <tr>
                                <td>$ID$</td>
                                <td>$Name$</td>
                                <td>$Address$</td>
                                <td>$Zip$</td>
                                <td>$City$</td>
                            </tr>
                            <tr>
                                <td>$ID$</td>
                                <td>$Name$</td>
                                <td>$Address$</td>
                                <td>$Zip$</td>
                                <td>$City$</td>
                            </tr>
                            <tr>
                                <td>$ID$</td>
                                <td>$Name$</td>
                                <td>$Address$</td>
                                <td>$Zip$</td>
                                <td>$City$</td>
                            </tr>
                            <tr>
                                <td>$ID$</td>
                                <td>$Name$</td>
                                <td>$Address$</td>
                                <td>$Zip$</td>
                                <td>$City$</td>
                            </tr>
                            <tr>
                                <td>$ID$</td>
                                <td>$Name$</td>
                                <td>$Address$</td>
                                <td>$Zip$</td>
                                <td>$City$</td>
                            </tr>
                            <tr>
                                <td>$ID$</td>
                                <td>$Name$</td>
                                <td>$Address$</td>
                                <td>$Zip$</td>
                                <td>$City$</td>
                            </tr>
                            <tr>
                                <td>$ID$</td>
                                <td>$Name$</td>
                                <td>$Address$</td>
                                <td>$Zip$</td>
                                <td>$City$</td>
                            </tr>
                            <tr>
                                <td>$ID$</td>
                                <td>$Name$</td>
                                <td>$Address$</td>
                                <td>$Zip$</td>
                                <td>$City$</td>
                            </tr>
                            <tr>
                                <td>$ID$</td>
                                <td>$Name$</td>
                                <td>$Address$</td>
                                <td>$Zip$</td>
                                <td>$City$</td>
                            </tr>
                            <tr>
                                <td>$ID$</td>
                                <td>$Name$</td>
                                <td>$Address$</td>
                                <td>$Zip$</td>
                                <td>$City$</td>
                            </tr>
                            <tr>
                                <td>$ID$</td>
                                <td>$Name$</td>
                                <td>$Address$</td>
                                <td>$Zip$</td>
                                <td>$City$</td>
                            </tr>
                            <tr>
                                <td>$ID$</td>
                                <td>$Name$</td>
                                <td>$Address$</td>
                                <td>$Zip$</td>
                                <td>$City$</td>
                            </tr>
                            <tr>
                                <td>$ID$</td>
                                <td>$Name$</td>
                                <td>$Address$</td>
                                <td>$Zip$</td>
                                <td>$City$</td>
                            </tr>
                            <tr>
                                <td>$ID$</td>
                                <td>$Name$</td>
                                <td>$Address$</td>
                                <td>$Zip$</td>
                                <td>$City$</td>
                            </tr>
                            <tr>
                                <td>$ID$</td>
                                <td>$Name$</td>
                                <td>$Address$</td>
                                <td>$Zip$</td>
                                <td>$City$</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </main>
    `
}) %>