<%- include('layout', {
    title: 'Reports',
    stylesheet: 'reports.css',
    user,
    body: `
        <main>
            <div class="head">
                <h1>Reports</h1>
                <div class="buttons">
                    <button id="exportButton" style="display: none;">Export</button>
                </div>
            </div>
            <div class="buttons tabs">
                <button id="remindersButton" onClick="">Reminders</button>
                <button id="bookHistoryButton" onClick="">Book history</button>
            </div>
            <section id="remindersSection" class="results reminders">
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Customer</th>
                                <th>Date of issue</th>
                                <th>Return until</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </section>

            <section id="bookHistorySection" class="book-history window">
                <section class="search">
                    <form id="bookHistoryForm" method="" action="">
                        <div>
                            <label for="bookid">Book ID</label>
                            <input id="bookIdInput" disabled>
                        </div>
                        <div>
                            <label for="bookname">Book title</label>
                            <input id="bookTitleInput" disabled>
                        </div>
                        <div class="buttons">
                            <button type="submit">Search</button>
                        </div>
                    </form>
                    <h1 id="bookTitle"></h1>
                </section>

                <section id="bookHistoryResults" class="results reminders">
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th>Customer</th>
                                    <th>Date of issue</th>
                                    <th>Return until</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </section>
            </section>
        </main>

        <script src="/js/reports.js"></script>
        <script src="/js/reports.reminders.js"></script>
        <script src="/js/reports.bookhistory.js"></script>
        <script src="/js/reports.export.js"></script>
    `
}) %>