@import "./global.css";

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;

  &.hidden {
    display: none;
  }
}

.modal-content {
  background: #fff;
  padding: 20px;
  width: 420px;
  border: 1px solid black;
}

.input-group {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  height: 30px;

  input {
    height: 26px;
  }
}

#collection-name-input {
  width: 100%;
}

#books-list {
  .book-item {
    display: flex;
    gap: 8px;
    margin-bottom: 6px;
    align-items: center;

    .book-title {
      flex: 1;
    }

    .delete-book {
      width: 30px;
      height: 30px;
      flex: none;
    }

    input {
      height: 26px;
    }

    button {
      color: black;
      cursor: pointer;
      border: 1px solid black;
      height: 30px;
    }
  }
}

#add-book-btn {
  width: 30px;
}

.buttons {
  display: flex;
  gap: 4px;
}

.collection-button {
  margin-bottom: 12px;
}

.collection {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.collection-item {
  border: 1px solid var(--color-grey);
  padding: 12px;

  .collection-info {
    margin-bottom: 8px;
    
    h3 {
      margin-top: 0;
    }
  }

  .books-list {
    display: flex;
    gap: 12px;
    overflow-x: auto;
    padding-bottom: 4px;

    .book-cover {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-shrink: 0;

      img {
        height: 300px;
        object-fit: cover;
        margin-bottom: 4px;
      }

      p {
        font-size: 16px;
        text-align: center;
        margin: 0;
        max-width: 150px;
        word-wrap: break-word;
        overflow-wrap: break-word;
      }
    }
  }

  .collection-actions {
    margin-top: 8px;
    display: flex;
    gap: 4px;
  }
}
